body {
	width: 150px;
}

button {
	border: 1px solid transparent;
	display: block;
	padding: .4rem 0;
	width: 100%;
	text-align: center;
	text-decoration: none;
	font: .9rem Arial, sans-serif;
	color: #333;
	background: #fff;
	border-radius: 5px;
	cursor: pointer;
}

button:focus {
	outline: none;
	border: 1px solid #ccc;
	background: -webkit-linear-gradient(top,  rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* Chrome10+,Safari5.1+ */
}

button:hover {
	border: 1px solid #ccc;
	background: -webkit-linear-gradient(top,  rgba(242,246,248,1) 0%,rgba(216,225,231,1) 50%,rgba(181,198,208,1) 51%,rgba(224,239,249,1) 100%); /* Chrome10+,Safari5.1+ */
}